## Loading and Inspecting Climate Data

In [8]:
# Load desired packages

%matplotlib inline

import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

# change default figsize
plt.rcParams['figure.figsize'] = (15, 12)

## Corrected Date Column

The date column has concatenated the year and month. I separated them in Excel using the [LEFT](https://support.microsoft.com/en-us/office/left-leftb-functions-9203d2d2-7960-479b-84c6-1ea52b99640c) function. Once the edited CSV was loaded I was able to inspect the new Year and Month series.

In [44]:
at = pd.read_csv('../rawData/tavg-1895-2020 copy.csv')

In [45]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     1501 non-null   int64
 1   Month    1501 non-null   int64
 2   Date     1501 non-null   int64
 3   Value    1501 non-null   float64
 4   Anomaly  1501 non-null   float64
dtypes: float64(2), int64(3)
memory usage: 58.8 KB

In [59]:
at.head()

   Year  Month    Date  Value  Anomaly
0  1895      1  189501  26.69    -3.43
1  1895      2  189502  26.60    -7.22
2  1895      3  189503  39.97    -1.53
3  1895      4  189504  52.90     1.85
4  1895      5  189505  59.94    -0.26

In [68]:
type('Year')

year = list(at.Year)

intYear = [int(i) for i in year]

type(intYear)
type(intYear[0])

int

In [74]:
month = list(at.Month)

intMonth = [int(i) for i in month]

type(intMonth)
type(intMonth[0])

int

## Correcting the Date Column
The Date column has concatenated the year and the month. The following code splits the year from the month, and creates new columns for both as individual integers.

In [69]:
atRaw = pd.read_csv('../rawData/tavg-1895-2020.csv')

In [71]:
atRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1501 non-null   int64
 1   Value    1501 non-null   float64
 2   Anomaly  1501 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 35.3 KB

In [72]:
atRaw.head()

     Date  Value  Anomaly
0  189501  26.69    -3.43
1  189502  26.60    -7.22
2  189503  39.97    -1.53
3  189504  52.90     1.85
4  189505  59.94    -0.26