In [1]:
# Load desired packages

%matplotlib inline

import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

# change default figsize
plt.rcParams['figure.figsize'] = (15, 12)

In [7]:
tc = pd.read_csv('../rawData/API_AG.LND.FRST.ZS_DS2_en_csv_v2_1926709/API_AG.LND.FRST.ZS_DS2_en_csv_v2_1926709.csv')

In [8]:
tc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            248 non-null    float64
 35  1991            252 non-null    float64
 36  1992            252 non-null    float64
 37  1993            253 non-null    float64
 38  1994            253 non-null    float64
 39  1995            253 non-null    float64
 40  1996            253 non-null    float64
 41  1997            253 non-null    float64
 42  1998            253 non-null    float64
 43  1999            253 non-null    float64
 44  2000            255 non-null    float64
 45  2001            255 non-null    float64
 46  2002            255 non-null    float64
 47  2003            255 non-null    float64
 48  2004            255 non-null    float64
 49  2005            255 non-null    float64
 50  2006            255 non-null    float64
 51  2007            255 non-null    float64
 52  2008            255 non-null    float64
 53  2009            255 non-null    float64
 54  2010            255 non-null    float64
 55  2011            255 non-null    float64
 56  2012            255 non-null    float64
 57  2013            255 non-null    float64
 58  2014            255 non-null    float64
 59  2015            255 non-null    float64
 60  2016            254 non-null    float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
dtypes: float64(61), object(4)
memory usage: 134.2+ KB

In [9]:
tc.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.067825,2.067825,2.067825,2.067825,2.067825,2.067825,NaN,NaN,NaN,NaN
2,Angola,AGO,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.807732,46.707627,46.607525,46.507420,46.407315,46.307210,NaN,NaN,NaN,NaN
3,Albania,ALB,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.297081,28.262044,28.227007,28.191972,28.156934,28.121897,NaN,NaN,NaN,NaN
4,Andorra,AND,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,NaN,NaN,NaN,NaN

In [13]:
usa = tc[tc['Country Code'] == 'USA']

In [14]:
usa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 249 to 249
Data columns (total 65 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1 non-null      object
 1   Country Code    1 non-null      object
 2   Indicator Name  1 non-null      object
 3   Indicator Code  1 non-null      object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            1 non-null      float64
 35  1991            1 non-null      float64
 36  1992            1 non-null      float64
 37  1993            1 non-null      float64
 38  1994            1 non-null      float64
 39  1995            1 non-null      float64
 40  1996            1 non-null      float64
 41  1997            1 non-null      float64
 42  1998            1 non-null      float64
 43  1999            1 non-null      float64
 44  2000            1 non-null      float64
 45  2001            1 non-null      float64
 46  2002            1 non-null      float64
 47  2003            1 non-null      float64
 48  2004            1 non-null      float64
 49  2005            1 non-null      float64
 50  2006            1 non-null      float64
 51  2007            1 non-null      float64
 52  2008            1 non-null      float64
 53  2009            1 non-null      float64
 54  2010            1 non-null      float64
 55  2011            1 non-null      float64
 56  2012            1 non-null      float64
 57  2013            1 non-null      float64
 58  2014            1 non-null      float64
 59  2015            1 non-null      float64
 60  2016            1 non-null      float64
 61  2017            0 non-null      float64
 62  2018            0 non-null      float64
 63  2019            0 non-null      float64
 64  2020            0 non-null      float64
dtypes: float64(61), object(4)
memory usage: 528.0+ bytes

In [15]:
usa.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,USA,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,33.77947,33.809533,33.839596,33.869659,33.899723,33.929786,NaN,NaN,NaN,NaN