In [1]:
# Load desired packages

%matplotlib inline

import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

# change default figsize
plt.rcParams['figure.figsize'] = (15, 12)

In [24]:
tc = pd.read_csv('../rawData/treecover_loss__ha.csv')

In [25]:
tc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   umd_tree_cover_loss__year           19 non-null     int64
 1   whrc_aboveground_biomass_loss__Mg   19 non-null     float64
 2   umd_tree_cover_loss__ha             19 non-null     float64
 3   whrc_aboveground_co2_emissions__Mg  19 non-null     float64
dtypes: float64(3), int64(1)
memory usage: 736.0 bytes

In [26]:
tc.head()

,umd_tree_cover_loss__year,whrc_aboveground_biomass_loss__Mg,umd_tree_cover_loss__ha,whrc_aboveground_co2_emissions__Mg
0,2001,3.054507e+08,1.943319e+06,5.599930e+08
1,2002,3.411315e+08,2.038436e+06,6.254078e+08
2,2003,2.624315e+08,1.649384e+06,4.811245e+08
3,2004,3.870139e+08,2.746257e+06,7.095255e+08
4,2005,3.510236e+08,2.691544e+06,6.435433e+08