In [1]:
# Load desired packages

%matplotlib inline

import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

# change default figsize
plt.rcParams['figure.figsize'] = (15, 12)

In [17]:
wf = gpd.read_file('../rawData/wildfire.geojson')
tc = pd.read_csv('../rawData/treecover_loss_by_region__ha.csv')
at = pd.read_csv('../rawData/tavg-1895-2020.csv')

In [8]:
wf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 65845 entries, 0 to 65844
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FireName    65845 non-null  object
 1   FireCode    65845 non-null  object
 2   FireYear    65845 non-null  int64
 3   IgntDate    65845 non-null  object
 4   ContrlDate  65845 non-null  object
 5   ContnDate   65845 non-null  object
 6   Acres       65845 non-null  float64
 7   Hectares    65845 non-null  float64
 8   DataSrc     65845 non-null  object
 9   DataNotes   65845 non-null  object
 10  FireCause   65845 non-null  object
 11  FoundIn     65845 non-null  object
 12  FndNames    65845 non-null  object
 13  FndCodes    65845 non-null  object
 14  FndDates    65845 non-null  object
 15  FireQual    65845 non-null  int64
 16  Shape_Leng  65845 non-null  float64
 17  Shape_Area  65845 non-null  float64
 18  geometry    65845 non-null  geometry
dtypes: float64(4), geometry(1), int64(2), object(12)
memory usage: 9.5+ MB

In [9]:
wf.head()

,FireName,FireCode,FireYear,IgntDate,ContrlDate,ContnDate,Acres,Hectares,DataSrc,DataNotes,FireCause,FoundIn,FndNames,FndCodes,FndDates,FireQual,Shape_Leng,Shape_Area,geometry
0,414008,AK6535415457219840611,1984,1984-06-11T00:00:00,1899-11-30T00:00:00,1899-11-30T00:00:00,3169.156439,1282.513243,Monitoring Trends in Burn Severity,"First Tier Wildfires, polygon with largest acr...",No cause indicated,Alternate Fire Sources: Monitoring Trends in B...,Alternate Fire Names: 414008,Alternate Fire Codes: AK6535415457219840611,"Alternate Ignition, Controlled, and Contained ...",1,22876.846278,1.282513e+07,"POLYGON ((-2729116.221 3783619.593, -2729145.4..."
1,414012,AK6621715235619840618,1984,1984-06-18T00:00:00,1899-11-30T00:00:00,1899-11-30T00:00:00,1964.386646,794.959774,Monitoring Trends in Burn Severity,"First Tier Wildfires, polygon with largest acr...",No cause indicated,Alternate Fire Sources: Monitoring Trends in B...,Alternate Fire Names: 414012,Alternate Fire Codes: AK6621715235619840618,"Alternate Ignition, Controlled, and Contained ...",1,17290.576444,7.949598e+06,"POLYGON ((-2587275.964 3793164.935, -2587865.3..."
2,414057,AK6495716269319840702,1984,1984-07-02T00:00:00,1899-11-30T00:00:00,1899-11-30T00:00:00,1688.849283,683.453661,Monitoring Trends in Burn Severity,"First Tier Wildfires, polygon with largest acr...",No cause indicated,Alternate Fire Sources: Monitoring Trends in B...,Alternate Fire Names: 414057,Alternate Fire Codes: AK6495716269319840702,"Alternate Ignition, Controlled, and Contained ...",1,11226.497241,6.834537e+06,"POLYGON ((-3073104.885 3996965.523, -3073150.9..."
3,414060,AK6379515502919840623,1984,1984-06-23T00:00:00,1899-11-30T00:00:00,1899-11-30T00:00:00,1399.226822,566.247506,Monitoring Trends in Burn Severity,"First Tier Wildfires, polygon with largest acr...",No cause indicated,Alternate Fire Sources: Monitoring Trends in B...,Alternate Fire Names: 414060,Alternate Fire Codes: AK6379515502919840623,"Alternate Ignition, Controlled, and Contained ...",1,18047.888216,5.662475e+06,"POLYGON ((-2841528.411 3660892.172, -2841529.3..."
4,ABERT,OR4258812018119840809,1984,1984-08-09T00:00:00,1899-11-30T00:00:00,1899-11-30T00:00:00,7945.460289,3215.416542,Monitoring Trends in Burn Severity,"First Tier Wildfires, polygon with largest acr...",No cause indicated,Alternate Fire Sources: BLM National Fire Peri...,"Alternate Fire Names: Abert, Abert, ABERT","Alternate Fire Codes: M053, M053, OR4258812018...","Alternate Ignition, Controlled, and Contained ...",1,73017.681929,3.215417e+07,"POLYGON ((-1839066.540 551133.989, -1839017.70..."

In [13]:
tc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3658 entries, 0 to 3657
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   iso                                 3658 non-null   object
 1   whrc_aboveground_biomass_loss__Mg   3615 non-null   float64
 2   umd_tree_cover_loss__ha             3658 non-null   float64
 3   whrc_aboveground_co2_emissions__Mg  3615 non-null   float64
 4   umd_tree_cover_loss__year           3658 non-null   int64
dtypes: float64(3), int64(1), object(1)
memory usage: 143.0+ KB

In [15]:
tc.head()

,iso,whrc_aboveground_biomass_loss__Mg,umd_tree_cover_loss__ha,whrc_aboveground_co2_emissions__Mg,umd_tree_cover_loss__year
0,AFG,1.024747e+04,88.092712,1.878703e+04,2001
1,AGO,1.608331e+07,101220.621524,2.948606e+07,2001
2,ALA,3.496168e+04,396.934826,6.409642e+04,2001
3,ALB,6.158608e+05,3729.021031,1.129078e+06,2001
4,AND,2.734195e+02,1.654213,5.012690e+02,2001

In [18]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1501 non-null   int64
 1   Value    1501 non-null   float64
 2   Anomaly  1501 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 35.3 KB

In [19]:
at.head()

     Date  Value  Anomaly
0  189501  26.69    -3.43
1  189502  26.60    -7.22
2  189503  39.97    -1.53
3  189504  52.90     1.85
4  189505  59.94    -0.26