## Loading and Inspecting Climate Data

In [8]:
# Load desired packages

%matplotlib inline

import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt

# change default figsize
plt.rcParams['figure.figsize'] = (15, 12)

In [2]:
at = pd.read_csv('../rawData/tavg-1895-2020.csv')

In [4]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1501 non-null   int64
 1   Value    1501 non-null   float64
 2   Anomaly  1501 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 35.3 KB

In [3]:
at.head()

     Date  Value  Anomaly
0  189501  26.69    -3.43
1  189502  26.60    -7.22
2  189503  39.97    -1.53
3  189504  52.90     1.85
4  189505  59.94    -0.26

## Correcting the Date Column
The Date column has concatenated the year and the month. The following code splits the year from the month, and creates new columns for both as individual integers.

In [7]:
yearMonth = (at['Date'])
print(yearMonth)

0       189501
1       189502
2       189503
3       189504
4       189505
         ...
1496    201909
1497    201910
1498    201911
1499    201912
1500    202001
Name: Date, Length: 1501, dtype: int64

In [10]:
for year in yearMonth:
    
print(year)

IndexError: invalid index to scalar variable.